input[type=email], input[type=password], input[type=text], input[type=number] {
    margin: 5px 0 22px 0;
    display: inline-block;
    width: 80%;
    border-radius: 5%;
    padding: 15px;
    border: none;
    background: #f1f1f1;
}

input[type=email]:focus, input[type=password]:focus, input[type=number]:focus, input[type=text]:focus {
    background-color: #ddd;
    outline: none;
}


/* Set a style for all buttons */
.button {
    background-color: #4CAF50;
    color: white;
    
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 86%;
    opacity: 0.9;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    
}

.button:hover {
    opacity:1;
}

/* Extra styles for the cancel button */


/* Float cancel and signup buttons and add an equal width */

/* Add padding to container elements */
.container {
    background-color: 
    padding: 16px;
}

 .container form  h1 {
    margin-left: 5.5em;
}
.container form  h2 {
    margin-left: 5.5em;
}

/* Clear floats */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.logincenterdiv{
    display: flex;
  flex-direction: row;
}
.logincenterdiv > .ousidediv1{
    width: 35%;
    
}
.logincenterdiv > .ousidediv2{
    width: 30%;
    
    
}

.logincenterdiv > .insidediv{
    width: 40%;
    
    
}

div.regcent > p{
    margin-left: 5.5em;
    font-weight: bolder;

}


/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 500px) {
    button#save.button {
       width: 100%;
    }
    .container form  h1 {
    margin-left: 1em;
}

.container form  h2 {
    margin-left: 2.8em;
}
.logincenterdiv > .ousidediv1{
    display: none;
    
}
.logincenterdiv > .ousidediv2{
    display: none;
    
}


input[type=email], input[type=password], input[type=text], input[type=number] {
    background: #f1f1f1;
    border-radius: 5%;
    width: 80%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    
}

.logincenterdiv > .insidediv{
    width: 100%;
    padding: 1em 3em 1em 3em;   
}
.container form  h1 {
    margin-left: 3em;
}


div.regcent > p{
    margin-left: 0em;
    font-weight: bolder;

}


.cetraliz{
    background: #f1f1f1;
    border-radius: 5%;
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
}


}
